ai_news_automation.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [0, 720],
      "id": "6ef8998c-e8cc-40b8-8695-81c5e9f9de22",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "=https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [128, 720],
      "id": "49e53635-fe0a-499e-bdde-64949c9247dc",
      "name": "Get World News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"triggerAtHour": 7}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-544, 704],
      "id": "658aa30d-5733-4706-8464-5483badbf6b5",
      "name": "Run every day at 7AM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [176, 496],
      "id": "b729ab38-971a-47fe-acb0-a64476316788",
      "name": "Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-544, 496],
      "id": "4425f37f-7525-4f87-ab9d-42d371092e39",
      "name": "Click ‘Execute workflow’ to run"
    },
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-608, 432],
      "id": "0adee398-2e1e-432c-ba88-017f39875e26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {"__rl": true, "mode": "list", "value": "gpt-4.1-mini"},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-256, 720],
      "id": "5d7f2be4-4b47-41d8-bf16-afc1de6a056d",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {"id": "REPLACE_WITH_YOUR_OPENAI_KEY", "name": "OpenAI Account"}
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-256, 496],
      "id": "65a73c34-4ca2-45a5-b3ae-46122865b9e9",
      "name": "AI Summary Agent"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Your news daily summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [448, 496],
      "id": "2be29a76-97b4-4e95-bf6a-e97b7964bb97",
      "name": "Send summary by email",
      "credentials": {
        "gmailOAuth2": {"id": "REPLACE_WITH_YOUR_GMAIL_OAUTH2_ID", "name": "Gmail Account"}
      }
    }
  ],
  "connections": {
    "Get Tech News": {"ai_tool": [[{"node": "AI Summary Agent", "type": "ai_tool", "index": 0}]]},
    "Get World News": {"ai_tool": [[{"node": "AI Summary Agent", "type": "ai_tool", "index": 0}]]},
    "Run every day at 7AM": {"main": [[{"node": "AI Summary Agent", "type": "main", "index": 0}]]},
    "Output": {"main": [[{"node": "Send summary by email", "type": "main", "index": 0}]]},
    "Click ‘Execute workflow’ to run": {"main": [[{"node": "AI Summary Agent", "type": "main", "index": 0}]]},
    "OpenAI Model": {"ai_languageModel": [[{"node": "AI Summary Agent", "type": "ai_languageModel", "index": 0}]]},
    "AI Summary Agent": {"main": [[{"node": "Output", "type": "main", "index": 0}]]}
  },
  "pinData": {}
}
